<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
        {% if meta.description %}
            <meta name="description" content="{{ meta.description|striptags }}">
        {% endif %}{% if meta.robots %}
            <meta name="robots" content="{{ meta.robots }}">
        {% endif %}

        <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
    </head>
    <body>
        <header>
            <div class="inner flex-container-small">
                <nav>
                    <div id="burger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        {% for page in pages if page.title %}
                            <li{% if page.id == current_page.id %} class="active"{% endif %}>
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>

                <a href="{{ "index"|link }}" id="logo">{{ site_title }}</a>
            </div>
        </header>

        <main>
            <section>
                <div class="title-image"></div>
            </section>

            <section class="banner">
                <div class="inner">
                    <h1>Chrizzly.info</h1>
                </div>
            </section>

            <section id="content">
                <div class="inner">
                    {{ content }}
                </div>
            </section>
        </main>

        <footer>
            <div class="inner">
                <a href="http://picocms.org/">Pico</a> was made by <a href="http://gilbert.pellegrom.me">Gilbert Pellegrom</a>
                and is maintained by <a href="https://github.com/picocms/Pico/graphs/contributors">The Pico Community</a>.
                Released under the <a href="https://github.com/picocms/Pico/blob/master/LICENSE.md">MIT license</a>.
            </div>
        </footer>

        <script src="{{ theme_url }}/scripts/ocean.js"></script>
    </body>
</html>
